PORT=8000
DATABASE_URI=mongodb://localhost/payload-website-cms
PAYLOAD_SECRET=b669ac4d869b82184f9cc580
PAYLOAD_PUBLIC_CMS_URL=http://cms.local.payloadcms.com:8000
PAYLOAD_PUBLIC_APP_URL=http://local.payloadcms.com:3000
PAYLOAD_PUBLIC_DRAFT_SECRET=demo_draft_secret
REVALIDATION_KEY=demo_revalidation_key
COOKIE_DOMAIN=payloadcms.com

SENDGRID_API_KEY=

GITHUB_ACCESS_TOKEN=

DISCORD_TOKEN=
DISCORD_SCRAPE_CHANNEL_ID=

PRIVATE_HUBSPOT_PORTAL_KEY=some-random-numbers

VERCEL_REDEPLOY_URL=