@import "~payload/scss";

.rich-text-hoverHighlight-leaf {
  background-color: var(--theme-elevation-1000);
  background: linear-gradient(to right,  #628699, #DFEDF4, #628699 100%);
  color: var(--theme-elevation-0);
}
